<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Robot Mobile</title>
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">-->
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <canvas class="video-canvas" id="video-canvas"></canvas>
    <script type="text/javascript" src="jsmpeg.min.js"></script>
    <script type="text/javascript">
        var canvas = document.getElementById('video-canvas');
        var url = 'ws://' + document.location.hostname + ':8082/';
        var player = new JSMpeg.Player(url, { canvas: canvas });
    </script>

    <div class="cote-gauche">
        <div class="container">
            <h1>Robot Mobile</h1>
            <div class="row">
                <div class="key" id="keyZ">Z</div>
            </div>
            <div class="row">
                <div class="key" id="keyQ">Q</div>
                <div class="key" id="keyS">S</div>
                <div class="key" id="keyD">D</div>
            </div>
            <p class="key-pressed" id="keyPressed"></p>
        </div>
    </div>

    <div class="cote-droit">
        <div class="speed-container">
            <h2>Vitesse</h2>
            <div class="row">
                <div class="key" id="key1">K</div>
                <div class="key" id="key2">L</div>
                <div class="key" id="key3">M</div>
            </div>
            <p class="vitesse-pressed" id="vitessePressed"></p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--<script src="{{ url_for('static', filename='script.js') }}"></script>-->
    <!--<script src="{{ url_for('static', filename='jsmpeg.min.js') }}"></script>-->
    <script src="../static/script.js"></script>
    <script src="../static/jsmpeg.min.js"></script>
</body>

</html>